*{box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

}
body{
    margin: 0;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(179, 51, 51);

}
h2{
   
  
    text-align: center;
    position: relative;
    bottom: 200px;
    font-size: 70px;

}
form{
    height: 300px;
    width: 670px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: end;
    margin: 40px;
    font-size: larger;
}
button{
    position:relative;
    right: -60px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: dimgrey;
    font-size: large;
    

}
button:hover {
    color:beige
}






